@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-style: none;
}

:root {
    --dark-blue: #1e1b4b;
    --orange: #f97316;
    --white: #e4e4e7;
    --black: #09090b;
    --light-blue: #4338ca;
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}
/* HEADER */
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 2rem;
}

ul, nav {
    display: flex;
    gap: 1rem;
}

.logo {
    color: var(--white);
    font-weight: 700;
}
/*
.header-nav-link {
    background-color: var(--orange);
    color: var(--white);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: color 0.2s;
}
*/

.header-nav-link {
    color: var(--white);
    font-weight: 600;
    transition: color 0.2s;
}

.header-nav-link:hover {
    color: var(--orange);
}
/* HERO */

.hero {
    /*height: 80vh;*/
    /*height: 600px; OVERFLOWING 1*/
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0; /*SOLVES OVERFLOW 1*/
}


.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center; /* align-items push it to the left side*/
    gap: 2rem;
    flex-wrap: wrap;
}

.h1-hero {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4rem;
    color: var(--white)
}

.h2-hero {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--white);
}


.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 40%;
    min-width: 300px;
}

.hero-button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 35px 5px 15px;
    border-radius: 10px;
    height: 4rem;
    /*width: 30%;*/
    width: 100%;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
    
    position: relative;
    display: flex;
    align-items: center;

    box-shadow: var(--box-shadow)
}

.hero-button::after {
    content: "\2022";
    position: absolute;
    right: 1rem;
    font-size: 2rem;
}

.hero-button:hover {
    color: var(--black);
    transform: scale(105%);
}

main {

    /*height: 800px; OVERFLOWING*/ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark-blue);
}

.main-calculations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 3rem 0 3rem; /*SOLVES OVERFLOW*/
}


.left-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    gap: 1.5rem;
    background-color: var(--light-blue);
    border-radius: 10px;
    width: 80%;
    height: 70%;
    color: var(--white);
    box-shadow: var(--box-shadow)
}

label {
    font-weight: 600;
}

.left-grid-item-input {
    width: 50%;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--orange);
    color: var(--white);
    outline: none;
    text-align: center;
}

.checkbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

select {
    width: 50%;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    outline: none;
    text-align: center;
}

.main-button {
    width: 50%;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    outline: none;
    text-align: center;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.main-button:hover {
    color: var(--black);
}

.insalubridade {
    display: flex;
    gap: 2rem;
    align-items: center;
}


.hidden {
    display: none;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--light-blue);
    height: 80%;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow)
}

.right-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 10px;
    width: 80%;
    height: 70%;
    color: var(--black);
    box-shadow: var(--box-shadow)
}

.salario-liquido {
    grid-column-end: span 3;
    width: 90%;
    background-color: var(--orange);
}

.right-grid-item-h1.salario-liquido-h1 {
    font-size: 25px;
    color: var(--white);
}

.right-grid-item-h1 {
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
}

.right-grid-item-p{
    font-weight: 600;
    font-size: 25px;
    color: var(--black);
}

.desconto {
    color: red;
    font-weight: 700;
}

.provento {
    color: green;
    font-weight: 700;
}


/* ACCORDION*/
.warn {
    background-color: var(--white);
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
}

.warn-text {
    font-weight: 800;
    color: var(--orange);
}


.accordion {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.accordion-section {
    width: 70%;
    max-width: 1200px;
    margin: 3rem 0 3rem 0;
}

.accordion-item {
    background-color: var(--white);
    border-radius: 1rem;
    margin: 1rem 0;
    box-shadow: var(--box-shadow)
}

.accordion-item-head {
    background-color: var(--orange);
    padding: 2rem 3rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 1rem;
    cursor: pointer;
}

.accordion-item-head:after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
}

.accordion-item-head.active:after {
    content: "\002B";
    transform: rotate(45deg);
}

.accordion-item-body {
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.2s ease-in-out;
}

.accordion-item-body-text {
    padding: 2rem;
    font-weight: 400;
    line-height: 2rem;
}



@media screen and (max-width: 768px) {
    main, .main-calculations, .results{
        grid-template-columns: 1fr;
}

    .salario-liquido {
        grid-column-end: span 1;
    }

    main {
        gap: 3rem;
    }
    main, .main-calculations, .results {
        height:auto;
    }

    .buttons {
        width: 30%;
        max-width: 280px;
    }

    .hero {
        height: max-content;
    }

    .h1-hero {
        font-size: 3rem;
    }

    nav {
        display: none;
    }
}

