@use "../abstract/global";


header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: global.$dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 2rem;

    .logo {
        color: global.$white;
        font-weight: 700;
    }

    nav, ul {
        display: flex;
        gap: 1rem;  
    
        .header-nav-link {
            color: global.$white;
            font-weight: 600;
            transition: color 0.2s;
            
            &:hover {
                color: global.$orange;
            }
        }
    }

    .mobile-nav {
        display: none;
    }
}

@media screen and (max-width: 604px) {
    header {
        nav, ul {
            display: none;
        }

        .mobile-nav {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .line {
                width: 40px;
                height: 5px;
                background-color: global.$white;
                //margin-block: 5px;
                border-radius: 20px;

                &.active {
                    transform: rotate(45deg);
                }
            }
        }
    }
  }