@use "../abstract/global";


header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: global.$dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 2rem;

    .logo {
        color: global.$white;
        font-weight: 700;
    }

    nav, ul {
        display: flex;
        gap: 1rem;  
    
        .header-nav-link {
            color: global.$white;
            font-weight: 600;
            transition: color 0.2s;
            
            &:hover {
                color: global.$orange;
            }
        }
    }
}